.usercard {
    border-radius: 5px;
    background-color: var(--foreground);
    color: var(--background);
    padding: 5px;
    margin: 2px;
    width: 20em;
}

.avatar {
    width: 20em;
}

.line {
    margin: 3px;
}

.biospacer {
    height: 1em;
}